.card {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
}

#bigM {
    font-size: 100px;
    margin: 10px;
    padding: 0 10px;
    background: black;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
}

.lead {
    font-weight: bold;
    padding: 20px;
}